<div class="banner">
  <div id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <%= render 'search_form_skill_sharing' %>
      </div>
    </div>
    <div class="cboth"></div>
  </div>
</div>