<div class="content_aboutus">
    <div class="row mail">                    
		<div class="mail-cont row "></div>
			<div class="about_content_bg">
				<div class="row">
					<div class="resize">
                        <div class="col-sm-12 about_icon_bg">
                        	<h3 class="head_aboutus">About Us</h3>
							<div class="about_icon">
								<span class="fa fa-group"></span></div>
                                <div class="about_align">
								<p>Hi, it's really nice of you to show interest in knowing us better!</p>
								<p><i style="color:#000">We are enabling people to leverage benefits from the unused/ underutilized resources they possess or skills & services they can provide in neighborhood</i></p>
								<p><b>Sharingdais.com</b> is an Online Platform for Peer-to-Peer Sharing. The company is conceptualized and promoted by a group of IIM graduates with a dream of connecting every household through Sharing Economy. Launched in July 2014, the website is Live with four categories- <b>Book Sharing, Food Sharing, Skill Sharing and Peer-to-Peer Services</b>. The platform gives one an opportunity to become either a Provider or a Seeker of goods, skills & services.</p>
								
								<p>We help to create a good match between a peer owning a certain resource and a peer in need of that resource at the right time with user friendly interface. In its initial phase, Sharingdais is focused on the market of <u>Delhi & NCR</u> and <u>Bangalore</u>.
								</p>
								<p><b>Book Sharing:</b>Working on Sharing Economy, one can SHARE books with others. The platform gives you an opportunity to become either a Book Provider, wherein you can give books on rent to people nearby you and make money, or a Book Seeker, wherein you can read books of your choice without actually buying it. You can post/edit/delete your requirements through the features available on the platform.
								</p>
								<p><b>Food Sharing:</b> Working on Sharing Economy, one can SHARE tasty home-cooked food with others. The platform gives you an opportunity to become either a Food Provider, wherein you can earn extra income by serving food and make new friends, or a Food Seeker, wherein you can find ghar-ka-khana available in your neighborhood. You can post/edit/delete your requirements through the features available on the platform.
								</p>
								<p><b>Skill Sharing:</b> Working on Sharing Economy, one can SHARE skills with others. The platform gives you an opportunity to become either a Skill Provider (Teacher), wherein you can teach others skills like dancing, painting, music, fitness etc, or a Skill Seeker (Learner), wherein you can learn/ hone skills like sketching, driving, video-making, photography, etc from people around you. You can post/edit/ delete your requirements through the features available on the platform.
								</p>
								<p><b>Peer-to-Peer Services:</b> You can find individual doctors, lawyers, consultants and other professionals in neighborhood, or if you are one then you can share your services. It is always better to know our neighbors.
								</p>
								<p><strong>What is Sharing Economy?</strong> Sharing Economy or Peer-to-Peer Economy or Person-to-Person Economy or Collaborative Economy or Collaborative Consumption is a Socio-Economic system built around the sharing of human and physical assets. In simple words, it is a concept that highlights the ability for individuals to rent or borrow goods rather than buy and own them. 
								</p>
								</div>
							</div>
                            
								
							</div>
						</div>
		                        <!--Border Dashed-->
        		                <div class="border_dashed"></div>
								<!--<div class="star">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>-->
										<div class="resize">
									<!--<div class="col-sm-4 img">
										<span class="fa fa-comment"></span>
									</div>-->
		                            <p class="tit-btm text-center">For any suggestions !!!</p>
									<div class="col-sm-12 padding_none sggestion_content">
										<p>For any feedback, write to us at <a href="mailto:support@sharingdais.com">support@sharingdais.com</a> (or) Call to:+91-7840088215</p>
									</div>
									<div class="cboth"></div></div>
							</div>
						</div>
					
						
				</div>