<div class="content_aboutus">
                	<div class="row mail">
                    
							<div class="mail-cont row ">
                            <h3 class="head_aboutus">About Us</h3>
								
							</div>
							
						
					</div>
					<div class="resize">
						<div class="row">
							<div class="col-sm-12">
                            <div class="col-sm-4 img">
								
								<span class="fa fa-group"></span>
							</div>
								<p>Hi, it's really nice of you to show interest in knowing us better!</p>
								<p>Creating the value of the unused resources we have or skills we possess!</p>
								<p>Sharingdais Online Services Private Limited is conceptualized and promoted by a group of IIM Indore graduates with the dream of connecting every household through sharing economy. The site helps to create a good match between a peer looking for certain resource and a peer in need of that resource at the right time with user friendly user interface.</p>
								<p>The company has started by dishing up the market of Bangalore and Delhi & NCR in its first phase with a single product, 'Food Sharing'. The platform will be opening up to other markets and new products in time to come.</p>
								
							</div>
						</div>
                        <!--Border Dashed-->
                        <div class="border_dashed"></div>
						<!--<div class="star">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>-->
                        <div class="row mail">
							<div class="mail-cont row ">
								<div class="resize">
								
							<div class="col-sm-4 img">
								<span class="fa fa-comment"></span>
							</div>
                            <p class="tit-btm">For any suggestions !!!, </p>
							<div class="col-sm-8 padding_none">
								
								<p>Please write to </p>
									<p> <span class="fa fa-envelope padding_five"></span><a href="mailto:support@sharingdais.com">support@sharingdais.com</a></p>
									<p>Phone - +91-7840088216</p>
							</div>
							<div class="cboth"></div></div>
							</div>
						</div>
					</div>
						
				</div>