<div class="content team">
	<div class="resize">
                <div class="terms_cond">
                        <h3>What’s better than having a home cooked food of your choice? 
						Or Who will mind earning some extra bucks by cooking extra portions of their regular meal?</h3>
			
                      <h2>Looking for some benefits for using sharingdais.com? So, here it goes..</h2>
                      <ol>
                        <li>If you are looking for delightful food in your neighborhood, then find it with an easy search option</li>
                        <li>If you are expecting for some region specific food, then just place your request</li>
                        <li>Try your cooking skills and earn some extra bucks by becoming the food-provider. Let people taste your delicious recipes</li>
                        <li>Get the selection of food provider on the groundwork of your convenience or preferred locality</li>
			<li>Your search for chefs and caterers for celebration/party will end with us</li>
			<li>Create new contacts and new acquaintances</li>
			<li>The platform is coming up with new products which can be shared among peers</li>
                      </ol>
                     
	         </div>
	</div>
</div>