<div class="content team">
  <div class="resize">
    <div class="terms_cond">
      <h3>Welcome to Benefits section!</h3>
      <ol>
        <li>Discover your favorite book or food in the neighborhood</li>
        <li>Earn extra income by Sharing</li>
        <li>Make best use of your skills- say, Food Sharing can build your popularity!</li>
        <li>Make new friends by Sharing</li>
        <li>Cost Saving- you are not buying new books or paying a thick bill to eat your favorite Food</li>
        <li>Get the best usage of idle value- idle books on your shelves can get you additional money!</li>
        <li>The Ownership of product remains with you</li>
        <li>Get suggestions/ feedbacks from audience to enhance your skills</li>
        <li>Unique Experience- feeling of an entrepreneur</li>
        <li>The service is FREE</li>
      </ol>
    </div>
  </div>
</div>