<div class="content team">
  <div class="resize">
    <div class="terms_cond">
      <h3>Welcome to Benefits section!</h3><br>
      <ul>
        <li style="font-size: 18px;">&#10004; No new Buying. Saves you Money</li>
        <li style="font-size: 18px;">&#10004; Become the Provider and Make an extra Income</li>
        <li style="font-size: 18px;">&#10004; Less Waste. Good for environment</li>
        <li style="font-size: 18px;">&#10004; Discover your favorite book or food in your neighborhood</li>
        <li style="font-size: 18px;">&#10004; Teach or/and Learn Skills and Expereinces nearby you</li>
        <li style="font-size: 18px;">&#10004; Build your Popularity</li>
        <li style="font-size: 18px;">&#10004; Make new friends by Sharing</li>
        <li style="font-size: 18px;">&#10004; The Ownership of product remains with you</li>
        <li style="font-size: 18px;">&#10004; Get the best use of idle resource- e.g. idle books on your shelves can get you money!</li>
        <li style="font-size: 18px;">&#10004; Get suggestions/ feedbacks from audience to enhance your skills</li>
        <li style="font-size: 18px;">&#10004; Unique Experience- feeling of an entrepreneur</li>
        <li style="font-size: 18px;">&#10004; The Service is FREE</li>
      </ul>
    </div>
  </div>
</div>