<div class="content team">
					<div class="resize">
                    	<div class="terms_cond">
                        <h1>HYGIENE GUIDELINES</h1>
						
    	                  <h2><strong>Food Provider</strong></h2>
                          <p>As Food Provider, you love making delicious food for food seeker. Of course, you also want to prepare the food hygienically and safely. Here you can find some points to keep in mind when cooking a healthy and safe meal:</p>
                      <h3>Shopping</h3>
                       <ol>
                        <li>Only buy ingredients that haven’t passed their expiration date</li>
                        <li>Make sure that the product you buy looks nice and fresh. Check whether the package is still intact</li>
                        <li>Preferably transport cooled or frozen products in a cool box or cool bag</li>
                        <li>Put cooled or frozen products in the fridge or freezer immediately and only take them out when you need them.</li>
                      </ol>
                       <h3>Before cooking</h3>
                       <ol>
                        <li>Make sure your kitchen is clean. Clean your counter, cooking devices and other equipment, but also the kitchen rags, tea-towel and other towels. Replace your kitchen rag frequently</li>
                        <li>Wash your hands before preparing and cooking with soap</li>
						<li>If you have long hair, it is wise to bind it in a ponytail. Hair in your food is not that tasty of course</li>
                        <li>Check your supplies once in a while. Sometimes there can be ingredients which have passed their expiration date</li>
                        <li>If you want to thaw a product, it is preferable to do this in the fridge. If you need to thaw it quickly, you can put it outside the fridge, but make sure it is thawed within 2 hours and used immediately</li>
                      </ol>
                       <h3>During cooking</h3>
                       <ol>
                        <li>Use separate cutting boards and equipment for preparing meat and vegetables, but also for raw and cooked products. This will prevent cross contamination</li>
                        <li>Clean used equipment immediately after using with detergent or put them in the dishwasher</li>
						<li>Wash the ingredients with water before using them</li>
                        <li>Food should be properly heated when you bake or cook</li>
                       </ol>
                       <h3>Give the food immediately, or later?</h3>
                       <ol>
                        <li>Always give food in a well closed tray, or in a sealed package</li>
                        <li>If the food is given to the food seeker later that day or the next day, make sure that the food is cooled down</li>
						<li>Tell the food seeker you made the meal the day before picking it up so they know they can’t store it as long as when it is freshly made</li>
                       </ol>
                       <h3>Everything clean?</h3>
                       <ol>
                        <li>Throw your waste away in the right bins. Try separating waste as much as possible</li>
                        <li>Clean your counter again so you can start cooking immediately the next day</li>
					   </ol>					   
	                    </div>
					</div>
				</div>