	<div class="content team">
					<div class="resize">
						<p class="head padding_none">Our Team</p>
                        <span class="head_underline"></span>
						<!--<div class="team-block">
							<div class="row">
								<div class="img right col-sm-3">
									<img src="files/debarshiroy.jpg" alt="" />
									<div class="cboth"></div>
									<h3>Debarshi Roy</h3>
								</div>
								<div class="cont col-sm-9">									
									<p>Debarshi has 5+ years of work experience in IT sector. 
										He had worked with brands like IBM, Cognizant, Simplilearn 
										and Commonfloor in various capacities. He is a B,Tech 
										from NIT Silchar and an MBA from IIM Indore.</p>
								</div>
							</div>
						</div>-->
						<div class="cboth"></div>
						<div class="team-block">
							<div class="row">
								<div class="img right our_team_img">
								<%=image_tag 'Bothi2.JPG',  :alt=>""%>
									<!--<div class="cboth"></div>-->
								</div>
                                <h3 class="our_team_name">Varun Singh Bothiyal</h3>
								<div class="cont our_team_desc">									
									<p>Varun Singh Bothiyal is a Co-Founder of Sharingdais.com and has a good 5 years of experience of Sales and Marketing, Team Management, Channel Management and Business Development. Varun was the National Sales Manager at BatchMaster Software Inc. and an Assistant Manager- Sales & Marketing in Lubricants Division at Bharat Petroleum Corporation Ltd. <br>
									Varun is a B.Tech in Mechanical Engineering from NIT- Allahabad and an MBA graduate from IIM Indore. Varun is a sportsman by heart and had played Cricket for Goa Cricket Club in “B” division and, other than sports, has interests in Dancing, Traveling and Cooking. 	
									</p>
								</div>
							</div>
						</div>
						
						<div class="team-block">
							<div class="row">
								<div class="img right our_team_img">
								<%=image_tag 'Sumeet.jpg',  :alt=>""%>
									<!--<div class="cboth"></div>-->
								</div>
                                <h3 class="our_team_name">Sumeet Kumar Agrawal</h3>
								<div class="cont our_team_desc">									
									<p>Sumeet Kumar Agrawal brings a unique experience of managing new ventures and go to market strategies. He is a 4th Generation Entrepreneur. He has 4 years of experience in multiple domains viz. consulting, finance and sales. He worked as the VP – Sales with Valuefy Solutions before co-founding sharingdais.com. He is a PGDM from IIM Indore, a B.Com  from Delhi University and is an associate member of The Institute of Company Secretaries of India.
									</p>
								</div>
							</div>
						</div>
									
						<!--<div class="team-block">
							<div class="row">
								<div class="img right col-sm-3"><img src="Sumeet.jpg" alt="" />
									<div class="cboth"></div>
									<h3>Sumeet Agrawal</h3>
								</div>
								<div class="cont col-sm-9">									
									<p>Sumeet is a Company Secretariat and an MBA from IIM 
										Indore. Sumeet brings in a diverse perspective to the 
										Real World problem. He has worked as a professional 
										Company Secretariat role prior to his IIM Indore stint. 
										After his MBA he worked as  Vice-President Sales with 
										Valuefy.
									</p>
								</div>
							</div>
						</div>-->
						<!--<div class="team-block">
							<div class="row">
								<div class="img left col-sm-3"><img src="files/Rama.jpg" alt="" />
									<div class="cboth"></div>
									<h3>Rama Shankar</h3>
								</div>
								<div class="cont col-sm-9">									
									<p> Rama is passionate about coding and has 3+ years of 
										work experience with brands like Samsung and TCS. He 
										is a B.Tech from IET Lucknow and an MBA from IIM Indore. 
										He has worked with Brigade Group post his MBA.
									</p>
								</div>
							</div>
						</div>-->
					</div>
				</div>