<div class="content team">
    <div class="resize">
        <div class="terms_cond">
            <h3>Safety Guidelines- Skill Sharing & Peer Services</h3>						
            <p>We at Sharingdais believe that skills can be learnt from anyone of any age, gender and profession by anyone of any age, gender and profession. These are the basic community guideline for teachers and students to be followed for using the Skill Sharing category.</p>                          
            <h2>Do’s-</h2>                      
            <ol>
                <li><strong>Mutual Respect </strong></li>
                Since there are real people involved behind each profile and listing on Sharingdais.com, mutual respect in interacting with each other is expected from the community
                <li><strong>Respect Copyright</strong> </li>
                Please use content for which you are the creator or hold the copyright for                 
                <li><strong>Get Proactive</strong></li>
                Be proactive in discussing the issues for clarification of things taught in the classes
                <li><strong>Be Courteous in interactions</strong></li>
                Please provide feedback to improve the teacher’s performance. Please don’t attack each other during feedback session, instead be constructive in criticism
                <li><strong>Pursue Lifelong Learning</strong></li>                      
                We will be hosting skill sharing for a whole lot of categories. Learn as much as you can
            </ol>
            <h2>What Not To Do-</h2>                      
            <ol>
                <li><strong>Don't Insult, or Threaten Others </strong></li>
                Please don't harass,intimidate, insult or bully others through this plateform
                <li><strong>Don't Use Public community for Discussing transactions</strong> </li>
                APlease talk to our support to discuss any issues with feedback or transactions as it is the best way to
                seek our support in helping yourselves. Write to support@sharingdais.com                   
                <li><strong>Don’t Post Spam or Illegal Content</strong></li>
                Illegal content are not welcome and will be removed from the platform. Pornography materials may invite legal action
                <li><strong>Don’t Download or Share Sharingdais Content</strong></li>
                Sharingdais classes are intended only for your personal use and are not to be shared or re-distributed. <br>Don’t download material unless there is a specific “download” option provided by Sharingdais.
                <li><strong>Don't Host Class Materials Outside of Sharingdais</strong></li>                      
                Class materials through Sharingdais are only for personal use. Please use accordingly
    
            </ol>			   
        </div>
    </div>
</div>