<div class="content team">
    <div class="resize">
        <div class="terms_cond">
            <h3>Safety Guidelines- Book Sharing</h3>	
            <p>Through Book Sharing, Sharingdais.com is aiming to put up a community of Book lovers, where Book lovers give and take books from each other. These are the Guidelines that the Community Members are expected to follow while sharing books over the platform.</p>
            <h1>Book Provider-</h1>
            <ol>
                <li><strong>1. Trust First</strong></li>                       
                <li>The Book Provider should give books to someone he/she can trust</li>
                <li><strong>2. Share Books in Good Condition</strong></li>
                <li>Please make sure that the Books are in Good Condition and all pages are intact before sharing to avoid any conflict in future</li>
                <li><strong>3. Right claims while taking back books</strong></li>
                <li>Please make sure that there is no unnecessary claim while taking back a book</li>
                <li><strong>4. Rate the Book Reader on the platform</strong></li>
                <li>Rate the Book Reader based on your interaction. We take ratings seriously </li>
                <li><strong>5. Take Security Deposit for the Book</strong></li>
                <li>If you are not sure of the Book Reader, take some refundable security deposit before sharing the Book 
                </li>
            </ol>                      
            <h1>Book Seeker-</h1>
            <ol>
                <li><strong>1. Be an ideal reader</strong></li>
                <li>Return Books on time and make sure the condition of the book is exactly the same when you had taken it</li>
                <li><strong>2. No underling on pages</strong></li>
                <li>Please treat the Book with respect and don't underline on any of the pages</li>
                <li><strong>3. Collect advance from provider on return</strong></li>
                <li>As soon as you return the book, please collect the advance to avoid any further conflict</li>
                <li><strong>4. Rating of book provider</strong></li>
                <li>Rate the Book Provider based on your interaction. We take ratings seriously</li>
                <li><strong>5. No Further Renting of Books</strong></li>
                <li>Don't rent the books further. The Book sharing category is to build a true Books Lover's community </li>
            </ol>
        </div>
    </div>
</div>