<!DOCTYPE html">
<head>
  <title>Feed BackEmail</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
</head>

<body>
  <table style="width:100%">
    <tr>
      <td><b>Subject</b> :Feedback</td>
    </tr>
    <tr>
      <td>You have received a feed back from <b><i><%= @name %></i></b></td>
    </tr>
    <tr>
      <td><b>Message details</b>: <%= @message %><br></td>
    </tr>
    <tr>
      <td>
        <b>Phone No</b> : <%= @phon %><br>
        <b>Email Id</b> : <%= @email %><br>
        Thanks 
      </td>
    </tr>
  </table>
</body>
</html>