<tr>
  <td>Name:</td>
  <td><%= @user.name %></td>
</tr>
<tr>
  <td>Email Id:</td>
  <td><%= @user.email %></td>
</tr>
<tr>
  <td>Address:</td>
  <td><%= @user.address %></td>
</tr>
<tr>
  <td>Phone:</td>
  <td><%= @user.phone_no %></td>
</tr>
<tr>
  <td colspan="2">
    <a class="btn" id="show_modal" href="javascript:void(0)">Edit</a>
  </td>
</tr>