<div class="banner">
  <div id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
         <%= image_tag "peer_service1.jpg", :alt => "..." %></div>
        <div class="item "><%= image_tag "peer2.JPG", :alt => "..." %></div>  
        
              
      </div>
       <%= render 'search_form_peer_service' %>
      <!-- Controls -->
      <a class="" href="#carousel-example-generic" data-slide="prev"> <span class=""></span> </a>
      <a class="" href="#carousel-example-generic" data-slide="next"> <span class=""></span> </a>
    </div>
    <div class="cboth"></div>
 </div>
</div>