<style type="text/css">
.image:hover {
-webkit-transform:scale(1.1); transform:scale(1.1);
}
.image {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}

#cf 
  {
    position:;
    height:140px;
    width:180px;
    margin:;
  }
#cf img 
{
  position:absolute;
  left:;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
/* Slider css */
.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
          font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
          color: #ffffff;
          text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
</style>


<div class="content">
  <h1 class="how_heading">What is Hot inside?</h1>  
  <div class="resize_how_diag">
     <div class="desktop_diag">
      <table>
        <tr>
          <td>
            <div class="bix_17">
            <div class="image">             
             <a href="/event_management" target="_blank"> <img class="top" src="/assets/peer_image/event_management.jpg" width="230" height="200"></a>
            </div>
            <p>
        <a href="/event_management"  target="_blank">Event Management</a>
<script type="text/javascript">
  $(".bix_17").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_17':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
          </div>
            <p><strong>City:</strong>Delhi-Noida-Ghaziabad </p> 
          </td>
          <td>
            <div class="bix_18">
            <div class="image">
              
             <a href="/tax_consultant" target="_blank"> <img class="top" src="/assets/peer_image/tax1.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/tax_consultant"  target="_blank">Consultant- Income Tax & Others</a>
<script type="text/javascript">
  $(".bix_18").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_18':"1"}),success: function (data) {}
    });
  });
</script>            
            </p>
          </div>
            <p><strong>City:</strong> Gurgaon</p> 
          </td>
          <td>
            <div class="bix_19">
            <div class="image">
            
             <a href="/doctors_dentists" target="_blank"> <img class="top" src="/assets/peer_image/dentist1.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/doctors_dentists"  target="_blank">Doctor- Dentist</a>
            </p>
<script type="text/javascript">
  $(".bix_19").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_19':"1"}),success: function (data) {}
    });
  });
</script>
           </div>
            <p><strong>City:</strong> Indirapuram, Ghaziabad </p> 
          </td>
          <td>
            <div class="bix_20">
            <div class="image">
              
              <a href="/beauty_baby_care" target="_blank"><img class="top" src="/assets/peer_image/make_up.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/beauty_baby_care"  target="_blank"> Beauty & Baby Care </a>
<script type="text/javascript">
  $(".bix_20").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_20':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
          </div>
            <p><strong>City:</strong>  Noida</p>
          </td>
          
        </tr>
      </table>
    </div>
  </div>
  <!-- -----------------------Mobile view------------ -->
  <div class="mob_diag">
    <div class="srch_res_mob">
      <div class="res_data">
        <div class="data_row">
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/peer_image/tax1.jpg" width="180" height="140">
          </div>
            <p>
              <a href="/tax_consultant" data-toggle="" target="_blank">Consultant- Income Tax & Others</a>
            </p>
            <p><strong>City:</strong> Gurgaon</p> 
          </div>
          <div class="data_col">            
            <div class="image">
            <img class="top" src="/assets/peer_image/event_management.jpg" width="180" height="140">
          </div>
            <p>
              <a href="/event_management" data-toggle="" target="_blank"> Event Management</a>
            </p>
            <p><strong>City:</strong> Delhi-Noida-Ghaziabad</p> 
          </div>
        </div>
        <div class="data_row">
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/peer_image/make_up.jpg"width="180" height="140">
          </div>
            <p>
              <a a href="/beauty_baby_care" data-toggle="" target="_blank"> Beauty & Baby Care: Beauty</a>
            </p>
            <p><strong>City:</strong> Noida</p> 
          </div>
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/peer_image/dentist1.jpg" width="180" height="140">
          </div>
            <p>
              <a href="/doctors_dentists" data-toggle="" target="_blank"> Doctor- Dentist </a>
            </p>
            <p><strong>City:</strong> Indirapuram, Ghaziabad</p> 
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- ---------------------------------mobile view end------------------------------ -->
</div>