 <style type="text/css">
 .text{
	margin: 10px 10px 10px 10px;
}
.top_btn{
	margin: 15px 50px 15px 50px;
}
.benefit{	
    margin: 15px 0px 15px 0px;
	font-size: 25px;
	color: #006199;
}
 .image:hover {
-webkit-transform:scale(1.1); transform:scale(1.1);
}
.image {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
.resize_how_diag1 { width: 100%; padding:20px 10%; margin: 0 auto; position: relative; background:#ffffff; overflow:hidden;}
.resize_how_diag1 { width: 100%; padding:0 10%; margin: 0 auto; position: relative; }


 </style>
 <div class="content">
<h1 class="how_heading">Benefits of Sharing </h1>
  <div class="resize_how_diag1"> 
 <div class="desktop_diag">
    <div class="row">
 	<div class="col-xs-6 col-sm-3">
        <div class="image">
 		 <img class="top_btn" src="/assets/convenience1.jpg" width="131" height="93" align="center">
        </div>
 		 <center align="" class="benefit"> Convenience</center>
 		 <p class="text" align="justify">Pick the one on the basis of your interest and its proximity</p>
 	</div>
 	<div class="col-xs-6 col-sm-3">
        <div class="image">
 		<img class="top_btn" src="/assets/lifestyle.jpg" width="131" height="93">
        </div >
 		<center class="benefit" align=""> Lifestyle</center>
 		<p align="justify" class="text">Flexibility in terms of sharing resources and making friends</p>
 	</div>
 	<div class="col-xs-6 col-sm-3">
        <div class="image">
 		<img class="top_btn" src="/assets/societal.jpg" width="131" height="93">
        </div>
 		<center align="" class="benefit"> Societal</center>
 		<p class="text" align="justify">Less waste means good for environment and helping the community</p>
 	</div>
 	<div class="col-xs-6 col-sm-3">
        <div class="image">
 		<img class="top_btn" src="/assets/economical.jpg" width="131" height="93">
        </div>
 		<center align="" class="benefit"> Economical</center>
 		<p align="justify" class="text">Saves you money because prices are reasonable</p>
 	</div>
 </div>
 </div>

 <div class="mob_diag">
 	<div class="srch_res_mob">
    <div class="res_data">
    	<div class="data_row">
            <div class="image">
         <center><img class="benefit" src="/assets/convenience1.jpg" width="131" height="93"></center>
     </div>
 		  <center class="benefit">Convenience</center>
 		 <p align="justify" class="text">Pick the one on the basis of your interest and its proximity</p>
    	</div>
    	<div class="data_row">
        <div class="image">
         <center><img class="benefit" src="/assets/lifestyle.jpg" width="131" height="93"></center>
        </div>
 		 <center class="benefit">Lifestyle</center>
 		<p align="justify" class="text">Flexibility in terms of sharing resources and making friends</p>
    	</div>
    	<div class="data_row">
        <div class="image">
         <center><img  class="benefit" src="/assets/societal.jpg" width="131" height="93"></center>
        </div>
 		 <center class="benefit">Societal</center>
 		<p align="justify" class="text">Less waste means good for environment and helping the community</p>
    	</div>
    	<div class="data_row">
        <div class="image">
         <center><img class="benefit" src="/assets/economical.jpg" width="131" height="93"></center>
         </div>
 		 <center class="benefit" >Economical</center>
 		<p align="justify" class="text">Saves you money because prices are reasonable</p>
    	</div>
    </div>
    </div>

 </div>
</div>
</div>