<style type="text/css">
.image:hover {
-webkit-transform:scale(1.1); transform:scale(1.1);
}
.image {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}

#cf 
  {
    position:;
    height:140px;
    width:180px;
    margin:;
  }
#cf img 
{
  position:absolute;
  left:;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
/* Slider css */
.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
          font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
          color: #ffffff;
          text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
</style>


<div class="content">
 <h1 class="how_heading">What is Hot inside?</h1>
  <!--<div calss="container_responsive">-->
<div class="resize_how_diag"> 
 <div class="desktop_diag">
 <div class="banner">
  <div id="slider">
    <div id="mycarousel" class="carousel slide" data-ride="carousel" data-interval="5000">      
      <!-- Wrapper for slides -->
      <div class="carousel-inner"> 
             
            <div class="item active ">              
              <table>
                <tr>
                  <td>
                  <div class="">              
                 <a href="/khadi_chawal" target="_blank"> 
                  <img class="top" src="/assets/food_image/kadi-chawal.jpg" width="265" height="200">
                 </a>
                 <p><a href="/khadi_chawal" target="_blank">Home Style Kadhi-Chawal</a></p>
                  <p><strong>City:</strong> Patel Nagar- Delhi</p>
                 </div>
                 </td>
                 <td>
                 <div class="">
                 <a href="/stuffed_parantha" target="_blank">
                  <img class="top" src="/assets/food_image/aluparatha.jpg" width="265" height="200">
                 </a>
                 <p><a href="/stuffed_parantha"  target="_blank"> Stuffed Parantha</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>
                 </div>
                 </td>
                 <td>
                 <div class="">
                 <a href="/veg_thali" target="_blank"> 
                 <img class="top" src="/assets/food_image/thali.jpg" width="265" height="200">
                 </a>
                 <p><a href="/veg_thali"  target="_blank"> Veg Thali</a></p>
                  <p><strong>City:</strong> Bangalore</p>
                 </div>
                 </td>
                 <td>
                 <div class="">
                 <a href="/veg_biryani" target="_blank">
                 <img class="top" src="/assets/food_image/thali2.jpg" width="265" height="200">
                 </a>
                 <p><a href="/veg_biryani"  target="_blank"> Veg Biryani</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>
                 </div>
                 </td>         
               </tr>
              </table>
             
            </div> 
            <div class="item ">
              <table>
                <tr>
                  <td>              
                  <a href="/digital_market" target="_blank"> 
                  <img class="top" src="/assets/micro-site/Pic1.jpg" width="265" height="200">
                  </a>
                  <p><a href="/digital_market" class="" target="_blank"> Guide to Digital Marketing</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/bake" target="_blank"> 
                  <img class="top" src="/assets/skill_image/bak1.jpg" width="265" height="200">
                  </a>
                  <p><a href="/bake" class="" target="_blank">Learn Baking</a></p>
                  <p><strong>City:</strong> BTM Layout, Bangalore</p>
                  </td>
                  <td>
                  <a href="/photography" target="_blank">
                  <img class="top" src="/assets/skill_image/p1.jpg" width="265" height="200">
                  </a>
                  <p><a href="/photography" class="" target="_blank">Photography Skills</a></p>
                  <p><strong>City:</strong> Vasundhara - Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/yoga" target="_blank">
                  <img class="top" src="/assets/skill_image/yoga.jpg" width="265" height="200">
                  </a>
                  <p><a href="/yoga" class="" target="_blank"> Yoga</a></p>
                  <p><strong>City:</strong>  Gurgaon</p>
                  </td>          
                </tr>
              </table> 
              
            </div>  
             
           <div class="item">
              <table>
                <tr>
                  <td>                                  
                  <a href="/winning_way" target="_blank"> 
                  <img class="top" src="/assets/book_image/book1.jpg" width="265" height="200">
                  </a>
                  <p><a href="/winning_way" class="" target="_blank"> The Winning Way</a></p>
                  <p><strong>City:</strong> Indirapuram,Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/fifty_shades_grey" target="_blank">
                  <img class="top" src="/assets/book_image/book2.jpg" width="265" height="200">
                  </a>
                  <p><a href="/fifty_shades_grey" class="" target="_blank">Fifty Shades of Grey</a></p>
                  <p><strong>City:</strong> South City I, Gurgaon</p>
                  </td>
                  <td>
                  <a href="/revolution_2020" target="_blank"> 
                  <img class="top" src="/assets/book_image/book3.jpg" width="265" height="200">
                  </a>
                  <p><a href="/revolution_2020" class="" target="_blank"> Revolution 2020</a></p>
                  <p><strong>City:</strong> Karampura, New Delhi</p>
                  </td>
                  <td>
                  <a href="/gmat_official_edition" target="_blank">
                  <img class="top" src="/assets/book_image/book4.jpg" width="265" height="200">
                  </a>
                  <p><a href="/gmat_official_edition" class="" target="_blank"> Barron’s GMAT Official Edition</a></p>
                  <p><strong>City:</strong> Sec 7, Faridabad</p>
                  </td>
                </tr>
              </table> 
                                 
            </div>          
               <div class="item ">
              <table>
                <tr>
                  <td>                                  
                  <a href="/event_management" target="_blank"> 
                  <img class="top" src="/assets/peer_image/event_management.jpg" width="265" height="200">
                  </a>
                  <p><a href="/event_management" class="" target="_blank"> Event Management</a></p>
                  <p><strong>City:</strong> Delhi-Noida-Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/tax_consultant" target="_blank">
                  <img class="top" src="/assets/peer_image/tax1.jpg" width="265" height="200">
                  </a>
                  <p><a href="/tax_consultant" class="" target="_blank">Consultant- Income Tax & Others</a></p>
                  <p><strong>City:</strong>  Gurgaon</p>
                  </td>
                  <td>
                  <a href="/doctors_dentists" target="_blank"> 
                  <img class="top" src="/assets/peer_image/dentist1.jpg" width="265" height="200">
                  </a>
                  <p><a href="/doctors_dentists" class="" target="_blank"> Doctor- Dentist</a></p>
                  <p><strong>City:</strong> Indirapuram, Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/beauty_baby_care" target="_blank">
                  <img class="top" src="/assets/peer_image/make_up.jpg" width="265" height="200">
                  </a>
                  <p><a href="/beauty_baby_care" class="" target="_blank"> Beauty & Baby Care: Beauty </a></p>
                  <p><strong>City:</strong> Noida</p>
                  </td>
                </tr>
              </table>                                 
            </div>     
          
        
      
  </div>
<!-- end of the desktpo view -->
<!-- Controls -->
      <a class="left carousel-control" href="#mycarousel" data-slide="prev"> <span class="fa fa-arrow-circle-left"></span> </a>
      <a class="right carousel-control" href="#mycarousel" data-slide="next"> <span class="fa fa-arrow-circle-right"></span> </a>
        
  

</div>
</div>
</div>
</div>
</div>

  <!-- -----------------------Mobile view------------ -->
  <div class="mob_diag">
    <div class="srch_res_mob">
      <div class="res_data">
       
            <div class="data_row">
            <table>
                <tr>
                  <td>              
                  <a href="/digital_market" target="_blank"> 
                  <img class="top" src="/assets/micro-site/Pic1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/digital_market" class="" target="_blank"> Guide to Digital Marketing</a></p>
                  <p><strong>City:</strong> <br>Ghaziabad</p>
                  </td>&nbsp;&nbsp;
                  <td>
                  <a href="/bake" target="_blank"> 
                  <img class="top" src="/assets/skill_image/bak1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/bake" class="" target="_blank">Learn Baking</a></p>
                  <p><strong>City:</strong> BTM, Bangalore</p>
                  </td>
                </tr>
              </table>
                  <table>
                <tr>
                  <td>
                  <a href="/photography" target="_blank">
                  <img class="top" src="/assets/skill_image/p1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/photography" class="" target="_blank">Photography <br>Skills</a></p>
                  <p><strong>City:</strong> <br>Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/yoga" target="_blank">
                  <img class="top" src="/assets/skill_image/yoga.jpg" width="100" height="70">
                  </a>
                  <p><a href="/yoga" class="" target="_blank"> Yoga</a></p>
                  <p><strong>City:</strong>  Gurgaon</p>
                  </td>          
                </tr>
              </table> 
            
           </div> 
           <div class="data_row">
                     
           <table>
                <tr>
                  <td>                                  
                  <a href="/winning_way" target="_blank"> 
                  <img class="top" src="/assets/book_image/book1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/winning_way" class="" target="_blank"> The Winning Way</a></p>
                  <p><strong>City:</strong> Indirapuram,<br>Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/fifty_shades_grey" target="_blank">
                  <img class="top" src="/assets/book_image/book2.jpg" width="100" height="70">
                  </a>
                  <p><a href="/fifty_shades_grey" class="" target="_blank">Fifty Shades of Grey</a></p>
                  <p><strong>City:</strong>  Gurgaon</p>
                  </td>
                </tr>
                </table>
                <table>
                  <tr>
                  <td>
                  <a href="/revolution_2020" target="_blank"> 
                  <img class="top" src="/assets/book_image/book3.jpg" width="100" height="70">
                  </a>
                  <p><a href="/revolution_2020" class="" target="_blank"> Revolution <br>2020</a></p>
                  <p><strong>City:</strong> Karampura, New Delhi</p>
                  </td>
                  <td>
                  <a href="/gmat_official_edition" target="_blank">
                  <img class="top" src="/assets/book_image/book4.jpg" width="100" height="70">
                  </a>
                  <p><a href="/gmat_official_edition" class="" target="_blank"> Barron’s GMAT Official Edition</a></p>
                  <p><strong>City:</strong> Sec 7, Faridabad</p>
                  </td>
                </tr>
              </table>  
        
        </div> 
        <div class="data_row">          
            <table>
                <tr>
                  <td>
                  <div class="">              
                 <a href="/khadi_chawal" target="_blank"> 
                  <img class="top" src="/assets/food_image/kadi-chawal.jpg" width="100" height="70">
                 </a>
                 <p><a href="/khadi_chawal" target="_blank">Home Style<br> Kadhi<br>Chawal</a></p>
                  <p><strong>City:</strong> Patel Nagar,<br> New Delhi</p>
                 </div>
                 </td>
                 <td>
                 <div class="">
                 <a href="/stuffed_parantha" target="_blank">
                  <img class="top" src="/assets/food_image/aluparatha.jpg" width="100" height="70">
                 </a>
                 <p><a href="/stuffed_parantha"  target="_blank"> Stuffed Parantha</a></p>
                  <p><strong>City:</strong> Ghaziabad</p>
                 </div>
                 </td>
               </tr>
               </table>
               <table>
                <tr>
                 <td>
                 <div class="">
                 <a href="/veg_thali" target="_blank"> 
                 <img class="top" src="/assets/food_image/thali.jpg" width="100" height="70">
                 </a>
                 <p><a href="/veg_thali"  target="_blank"> Veg Thali</a></p>
                  <p><strong>City:</strong> <br>Bangalore</p>
                 </div>
                 </td>
                 <td>
                 <div class="">
                 <a href="/veg_biryani" target="_blank">
                 <img class="top" src="/assets/food_image/thali2.jpg" width="100" height="70">
                 </a>
                 <p><a href="/veg_biryani"  target="_blank"> Veg Biryani</a></p>
                  <p><strong>City:</strong> <br>Ghaziabad</p>
                 </div>
                 </td>         
               </tr>
              </table>
          
        </div>
        <div class="data_row">
            <table>
                <tr>
                  <td>              
                  <a href="/event_management" target="_blank"> 
                  <img class="top" src="/assets/peer_image/event_management.jpg" width="100" height="70">
                  </a>
                  <p><a href="/event_management" class="" target="_blank"> Event Management</a></p>
                  <p><strong>City:</strong> <br>Delhi-Noida-Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/tax_consultant" target="_blank"> 
                  <img class="top" src="/assets/peer_image/tax1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/tax_consultant" class="" target="_blank"> Consultant- Income Tax & Others</a></p>
                  <p><strong>City:</strong> Gurgaon</p>
                  </td>
                </tr>
              </table>
                <table>
                <tr>
                  <td>              
                  <a href="/doctors_dentists" target="_blank"> 
                  <img class="top" src="/assets/peer_image/dentist1.jpg" width="100" height="70">
                  </a>
                  <p><a href="/doctors_dentists" class="" target="_blank"> Doctor-Dentist</a></p>
                  <p><strong>City:</strong> <br>Ghaziabad</p>
                  </td>
                  <td>
                  <a href="/beauty_baby_care" target="_blank"> 
                  <img class="top" src="/assets/peer_image/make_up.jpg" width="100" height="70">
                  </a>
                  <p><a href="/beauty_baby_care" class="" target="_blank"> Beauty Care</a></p>
                  <p><strong>City:</strong> Noida</p>
                  </td>
                </tr>
              </table>
            </div>
       
      </div>
    </div>
  </div>
  <!-- ---------------------------------mobile view end------------------------------ -->
</div>
<!-- ---------------------------------Models------------------------------ -->

<%#= render :partial =>  "home/model" %>