<div class="modal fade" id="model1" tabindex="-1" role="dialog" aria-labelledby="model1" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%; ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <script type="text/javascript">
        $('.count1').click(function() {
          $('#output1').html(function(i, val) { return val*1+1 });
        });
      </script>
      <h1><div id="output1">10</div></h1>
      </div>

      <div class="modal-body" >
        <div class="desktop_dialog">               
          <table>
            <tr>
              <td>
                <div class="rating">
                  <input type="radio" id="star5" name="rating" value="5" />
                  <label for="star5" title="Excellent">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" />
                  <label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" />
                  <label for="star3" title="Avg">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" />
                  <label for="star2" title="Poor">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" />
                  <label for="star1" title="Bad">1 star</label>
                </div>
              </td>
              <td>
                <p style="float:right;">
                  <strong>Phone No:</strong>
                  <span> 7840088216</span>
                </p>
              </td>
            </tr>
          </table><br>
        <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 100%; height: 300px; background: #000; overflow: hidden; ">               
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 700px; height: 300px; overflow: hidden;">            
            <div>
                <img u="image" src="/assets/micro-site/pic3.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/pic3.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/Pic1.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/Pic1.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/Pic 2.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/Pic 2.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/digital-marketing.jpeg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/digital-marketing.jpeg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
        </div>                
        <div u="thumbnavigator" class="jssort11" style="position: absolute; width: 200px; height: 300px; left:700px; top:0px;">            
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 200px; height: 69px; top: 0; left: 0;">
                    <thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate>
                </div>
            </div>            
        </div>        
        <a style="display: none" href="http://www.jssor.com">javascript</a>       
        <script>
            jssor_slider1_starter('slider1_container');
        </script>
    </div>
          <div class="details">
            <p>
              <strong>Guide to Digital Marketing</strong> 
            </p> 
            <div class="social" align="right">            
              
<a onclick="facebook1('https://www.facebook.com/dialog/feed?app_id=1472848959663464')" href="javascript:void(0)" title="Facebook">
<img src="/assets/micro-site/facebook.png">
</a>
        
<a onclick="twitter1('https://twitter.com/share')" href="javascript:void(0)" title="Twitter">
<img src="/assets/micro-site/twitter.png">
</a>
       
            </div>
          </div>
          <div class="location">
            <strong> Description:</strong>
            <br>
            <p align="justify"> Digital Marketing also known as "Online Marketing" is marketing that makes use of electronic devices to engage with the stakeholders. In this guide, you will learn the difference between push and pull digital marketing, and various digital marketing tactics such as; Search Engine Optimization (SEO), Search Engine Marketing (SEM), Social Media Marketing (SMM) and others. I will also touch upon the Google Adwords and Web Analytics. 
The guide is kept short and crisp (5 pages) in presentation format (Free). You can request for presenation by sending a mail at support@sharingdais.com</p></p>
          </div>            <br>
          <div class="location">
            <strong> Location:</strong> Indirapuram, Ghaziabad
          </div>
          <div class="avail">
            <strong>Availability:</strong> Saturday and Sunday
          </div>    
          <div class="price">
            <strong>Price:</strong> INR 500 for 2 hour session. 
          </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- ----------------modal2------------- -->
<div class="modal fade" id="model2" tabindex="-1" role="dialog" aria-labelledby="model1" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%; ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="desktop_dialog">               
          <table>
            <tr>
              <td>
                <div class="rating">
                  <input type="radio" id="star5" name="rating" value="5" />
                  <label for="star5" title="Excellent">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" />
                  <label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" />
                  <label for="star3" title="Avg">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" />
                  <label for="star2" title="Poor">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" />
                  <label for="star1" title="Bad">1 star</label>
                </div>
              </td>
              <td>
                <p style="float:right;">
                  <strong>Phone No:</strong>
                  <span> 7840088216</span>
                </p>
              </td>
            </tr>
          </table><br>
        <div id="slider2_container" style="position: relative; top: 0px; left: 0px; width: 100%; height: 300px; background: #000; overflow: hidden; ">               
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 700px; height: 300px; overflow: hidden;">            
            <div>
                <img u="image" src="/assets/micro-site/cakemain.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/cakemain.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/cake3.JPG" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/cake3.JPG" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/cake2.JPG" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/cake2.JPG" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/cakemain.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/cakemain.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
        </div>                
        <div u="thumbnavigator" class="jssort11" style="position: absolute; width: 200px; height: 300px; left:700px; top:0px;">            
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 200px; height: 69px; top: 0; left: 0;">
                    <thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate>
                </div>
            </div>            
        </div>        
        <a style="display: none" href="http://www.jssor.com">javascript</a>       
        <script>
            jssor_slider1_starter('slider2_container');
        </script>
    </div>
          <div class="details">
            <p>
              <strong>Chocolate Cake in 20 min.</strong> 
            </p> 

            <div class="social" align="right">            
              
<a onclick="facebook2('https://www.facebook.com/dialog/feed?app_id=1472848959663464')"href="javascript:void(0)" title="Facebook">
<img src="/assets/micro-site/facebook.png">
</a>
        
<a onclick="twitter2('https://twitter.com/share')" href="javascript:void(0)" title="Twitter">
<img src="/assets/micro-site/twitter.png">
</a>
       
            </div>
          </div>
          <div class="location">
            <strong> Description:</strong>
            <br>
            <p align="justify">  I am not a regular cook or chef but I love cooking and trying different recipes. One of my favorite item is Chocolate Cake. This I have made almost 8 times now and people have appreciated my style :P I am sharing with you the recipe of the cake. Please download the file from here:<a href="/assets/Chocolate.pptx" targrt="_blank"> "Chocolate Cake in 20 min"</a> You can also order the cake!</a></p>
          </div>            <br>
          <div class="location">
            <strong> Location:</strong> Patel Nagar, Rajendra Place, Shadipur, Indirapuram, Vaishali,Ghaziabad
          </div>
            
          <div class="price">
            <strong>Price:</strong> INR 250
          </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- ---------------------------------model3---------------- -->

<div class="modal fade" id="model3" tabindex="-1" role="dialog" aria-labelledby="model" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%; ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="desktop_dialog">               
          <table>
            <tr>
              <td>
                <div class="rating">
                  <input type="radio" id="star5" name="rating" value="5" />
                  <label for="star5" title="Excellent">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" />
                  <label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" />
                  <label for="star3" title="Avg">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" />
                  <label for="star2" title="Poor">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" />
                  <label for="star1" title="Bad">1 star</label>
                </div>
              </td>
              <td>
                <p style="float:right;">
                  <strong>Phone No:</strong>
                  <span> 9654045761</span>
                </p>
              </td>
            </tr>
          </table><br>
        <div id="slider3_container" style="position: relative; top: 0px; left: 0px; width: 100%; height: 300px; background: #000; overflow: hidden; ">               
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 700px; height: 300px; overflow: hidden;">            
            <div>
                <img u="image" src="/assets/micro-site/Lemon-Rice.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/Lemon-Rice.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/cook2.JPG" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/cook2.JPG" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/cook3.JPG" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/cook3.JPG" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/masala_mini_idlies.JPG" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/masala_mini_idlies.JPG" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
        </div>                
        <div u="thumbnavigator" class="jssort11" style="position: absolute; width: 200px; height: 300px; left:700px; top:0px;">            
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 200px; height: 69px; top: 0; left: 0;">
                    <thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate>
                </div>
            </div>            
        </div>        
        <a style="display: none" href="http://www.jssor.com">javascript</a>       
        <script>
            jssor_slider1_starter('slider3_container');
        </script>
    </div>
          <div class="details">
            <p>
              <strong>Home Cooked food by Mrs. Nigam</strong> 
            </p> 
            <div class="social" align="right">            
              
<a onclick="facebook3('https://www.facebook.com/dialog/feed?app_id=1472848959663464')" href="javascript:void(0)" title="Facebook">
<img src="/assets/micro-site/facebook.png">
</a>
        
<a onclick="twitter3('https://twitter.com/share')" href="javascript:void(0)" title="Twitter">
<img src="/assets/micro-site/twitter.png">
</a>
       
            </div>
          </div>
          <div class="location">
            <strong> Description:</strong>
            <br>
            <p align="justify"> Don’t you crave for tasty home-cooked food? If yes, then contact Mr.& Mrs. Nigam from Indirapuram, Ghaziabad. If you want to eat tasty Veg-Biryani, cooking in butter with lots of ingredients, or Lemon rice or South Indian food or simple Poori Sabji, at an affordable price then contact us. We are ready to serve you tasty ghar-ka-khana. If you wish to eat non-veg food some day then tell us. We will prepare it for you. Our rating says a great deal!.</p>
          </div>            <br>
          <div class="location">
            <strong> Location:</strong> Indirapuram, Ghaziabad
          </div>
          <div class="avail">
            <strong>Availability:</strong> All days
          </div>    
          <div class="price">
            <strong>Price:</strong> Call on the aboue number 
          </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- --------------------------------------model4----------------------------------- -->

<div class="modal fade" id="model4" tabindex="-1" role="dialog" aria-labelledby="model1" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%; ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="desktop_dialog">               
          <table>
            <tr>
              <td>
                <div class="rating">
                  <input type="radio" id="star5" name="rating" value="5" />
                  <label for="star5" title="Excellent">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" />
                  <label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" />
                  <label for="star3" title="Avg">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" />
                  <label for="star2" title="Poor">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" />
                  <label for="star1" title="Bad">1 star</label>
                </div>
              </td>
              <td>
                <p style="float:right;">
                  <strong>Phone No:</strong>
                  <span> 8792305528</span>
                </p>
              </td>
            </tr>
          </table><br>
        <div id="slider4_container" style="position: relative; top: 0px; left: 0px; width: 100%; height: 300px; background: #000; overflow: hidden; ">               
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 700px; height: 300px; overflow: hidden;">            
            <div>
                <img u="image" src="/assets/micro-site/online-marketing-ecommerce-industry.PNG" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/online-marketing-ecommerce-industry.PNG" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/hightech_ecommerce.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/hightech_ecommerce.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/online-shopping.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/online-shopping.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/hightech_ecommerce.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/hightech_ecommerce.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
        </div>                
        <div u="thumbnavigator" class="jssort11" style="position: absolute; width: 200px; height: 300px; left:700px; top:0px;">            
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 200px; height: 69px; top: 0; left: 0;">
                    <thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate>
                </div>
            </div>            
        </div>        
        <a style="display: none" href="http://www.jssor.com">javascript</a>       
        <script>
            jssor_slider1_starter('slider4_container');
        </script>
    </div>
          <div class="details">
            <p>
              <strong>Booming e-commerce Industry</strong> 
            </p><br><p><strong>About the writer:</strong> Rama is a working professional based out of Bengaluru. He is an alumnus of IET Lucknow and IIM Indore. </p> 
            <div class="social" align="right">            
              
<a onclick="facebook4('https://www.facebook.com/dialog/feed?app_id=1472848959663464')" href="javascript:void(0)" title="Facebook">
<img src="/assets/micro-site/facebook.png">
</a>
        
<a onclick="twitter4('https://twitter.com/share')" href="javascript:void(0)" title="Twitter">
<img src="/assets/micro-site/twitter.png">
</a>
       
            </div>
          </div>
          <div class="location">
            <strong> Description:</strong>
            <br>
            <p align="justify">  India's e-commerce market was worth about $3.8 billion in 2009, it went up to $12.6 billion in 2013. In 2013, the e-retail market was worth US$ 2.3 billion. About 70% of India's e-commerce market is travel related. India has close to 10 million online shoppers and is growing at an estimated 30%. With the recent investments in companies like Flipkart, Snapdeal, OlaCabs,TaxiforSure, this is for sure people are eyeing on e-commerce in India. Lets understand "ecommerce- growth, opportunities and challenges" from Mr. Rama. You can download the file from the link given:<a href="/assets/e-commerce.pdf" target="_blank">  "E-Commerce Overview"</a></p>
          </div>            <br>
          <div class="location">
            <strong> Location:</strong> Bangolre
          </div>
          <div class="avail">
            <strong>Availability:</strong> N/A
          </div>    
          <div class="price">
            <strong>Price:</strong> N/A  
          </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- ---------------------------------------- model 5---------------- -->

<div class="modal fade" id="model5" tabindex="-1" role="dialog" aria-labelledby="model1" aria-hidden="true">
  <div class="modal-dialog" style="width: 70%; ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="desktop_dialog">               
          <table>
            <tr>
              <td>
                <div class="rating">
                  <input type="radio" id="star5" name="rating" value="5" />
                  <label for="star5" title="Excellent">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" />
                  <label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" />
                  <label for="star3" title="Avg">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" />
                  <label for="star2" title="Poor">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" />
                  <label for="star1" title="Bad">1 star</label>
                </div>
              </td>
              <td>
                <p style="float:right;">
                  <strong>Phone No:</strong>
                  <span> 7840088216</span>
                </p>
              </td>
            </tr>
          </table><br>
        <div id="slider5_container" style="position: relative; top: 0px; left: 0px; width: 100%; height: 300px; background: #000; overflow: hidden; ">               
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 700px; height: 300px; overflow: hidden;">            
            <div>
                <img u="image" src="/assets/micro-site/marketingCloud.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/marketingCloud.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/marketing.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/marketing.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/market1.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/market1.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
            <div>
                <img u="image" src="/assets/micro-site/marketing.jpg" />
                <div u="thumb">
                    <img class="i" src="/assets/micro-site/marketing.jpg" /><div class="t"></div>
                    <div class="c"></div>
                </div>
            </div>
        </div>                
        <div u="thumbnavigator" class="jssort11" style="position: absolute; width: 200px; height: 300px; left:700px; top:0px;">            
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 200px; height: 69px; top: 0; left: 0;">
                    <thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate>
                </div>
            </div>            
        </div>        
        <a style="display: none" href="http://www.jssor.com">javascript</a>       
        <script>
            jssor_slider1_starter('slider5_container');
        </script>
    </div>
          <div class="details">
            <p>
              <strong>Porter's 5 Forces: Marketing Gyan. </strong> 
            </p> 
            <div class="social" align="right">            
              
<a onclick="facebook5('https://www.facebook.com/dialog/feed?app_id=1472848959663464')" href="javascript:void(0)" title="Facebook"><img src="/assets/micro-site/facebook.png"></a>
        
<a onclick="twitter5('https://twitter.com/share')" href="javascript:void(0)" title="Twitter">
<img src="/assets/micro-site/twitter.png">
</a>
       
            </div>
            <br>
            <p>
              <strong>About the author:</strong>
               Abhishek is an IT professional based out of Gurgaon. He is an MBA from MDI Gurgaon.
             </p>
            

            </div>
          </div><br>
          <div class="location">
            <strong> Description:</strong>
            <br>
            <p align="justify"> The Porter's Five Forces tool is a simple but powerful tool for understanding where power lies in a business situation. This is useful, because it helps you understand both the strength of your current competitive position, and the strength of a position you're considering moving into.With a clear understanding of where power lies, you can take fair advantage of a situation of strength, improve a situation of weakness, and avoid taking wrong steps. Conventionally, the tool is used to identify whether new products, services or businesses have the potential to be profitable. However it can be very illuminating when used to understand the balance of power in other situations. 
           Please download the file from here:<a href="/assets/Marketing.pdf" target="_blank">  "Porter's five forces"</a>
</p>
          </div>            <br>
          <div class="location">
            <strong> Location:</strong> Gurgaon
          </div>
          <div class="avail">
            <strong>Availability:</strong> N/A
          </div>    
          <div class="price">
            <strong>Price:</strong> N/A 
          </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<!-- ################ sheared contents ############### -->
<input type="hidden" name="commentlink1" id="commentlink1" value="Digital Marketing also known as "Online Marketing" is marketing that makes use of electronic devices to engage with the stakeholders." />
<input type="hidden" name="sayfb" id="sayfb1" value="Guide to Digital Marketing" />
<input type="hidden" name="urllink" id="urllink1" value="http://www.sharingdais.com/" />
<input type="hidden" name="saytw" id="saytw1" value="Digital Marketing also known as "Online Marketing" is marketing that makes use of electronic devices to engage with the stakeholders." />

<input type="hidden" name="commentlink2" id="commentlink2" value="I am not a regular cook or chef but I love cooking and trying different recipes. One of my favorite item is Chocolate Cake." />
<input type="hidden" name="sayfb" id="sayfb2" value="Chocolate Cake in 20 min." />
<input type="hidden" name="urllink" id="urllink2" value="http://www.sharingdais.com/" />
<input type="hidden" name="saytw" id="saytw2" value="I am not a regular cook or chef but I love cooking and trying different recipes. One of my favorite item is Chocolate Cake." />

<input type="hidden" name="commentlink3" id="commentlink3" value="Don’t you crave for tasty home-cooked food? If yes, then contact Mr.& Mrs. Nigam from Indirapuram, Ghaziabad. If you want to eat tasty Veg-Biryani, cooking in butter with lots of ingredients" />
<input type="hidden" name="sayfb" id="sayfb3" value="Home Cooked food by Mrs. Nigam" />
<input type="hidden" name="urllink" id="urllink3" value="http://www.sharingdais.com/" />
<input type="hidden" name="saytw" id="saytw3" value="Don’t you crave for tasty home-cooked food? If yes, then contact Mr.& Mrs. Nigam from Indirapuram, Ghaziabad. If you want to eat tasty Veg-Biryani, cooking in butter with lots of ingredients" />

<input type="hidden" name="commentlink4" id="commentlink4" value="India's e-commerce market was worth about $3.8 billion in 2009, it went up to $12.6 billion in 2013. In 2013, the e-retail market was worth US$ 2.3 billion." />
<input type="hidden" name="sayfb" id="sayfb4" value="Booming e-commerce Industry" />
<input type="hidden" name="urllink" id="urllink4" value="http://www.sharingdais.com/" />
<input type="hidden" name="saytw" id="saytw4" value="India's e-commerce market was worth about $3.8 billion in 2009, it went up to $12.6 billion in 2013. In 2013, the e-retail market was worth US$ 2.3 billion." />

<input type="hidden" name="commentlink5" id="commentlink5" value="The Porter's Five Forces tool is a simple but powerful tool for understanding where power lies in a business situation" />
<input type="hidden" name="sayfb" id="sayfb5" value="Porter's 5 Forces: Marketing Gyan." />
<input type="hidden" name="urllink" id="urllink5" value="http://www.sharingdais.com/" />
<input type="hidden" name="saytw" id="saytw5" value="Porter's 5 Forces: Marketing Gyan." />
<!-- ################# Script ######################## -->
<script>
function facebook1(url){
  var text=$("#commentlink1").val();
  var say=$("#sayfb1").val();
  var url1=$("#urllink1").val();
  //var img_url=$("#image_fb").val(); 
  var img_url= 'http://sharingdais.com/main/assets/slider4-b4a8f7498084f1df80b7d836c2bcf1bf.jpg'
  var arg='&link='+url1+'&name='+say+'&picture='+img_url+'&caption='+text+'&description='+url1+'&redirect_uri=http://www.sharingdais.com/close_window';
 url=url+arg;
 window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=900');return false;
}
function facebook2(url){
  var text=$("#commentlink2").val();
  var say=$("#sayfb2").val();
  var url1=$("#urllink2").val();
  //var img_url=$("#image_fb").val(); 
  var img_url= 'http://sharingdais.com/main/assets/slider4-b4a8f7498084f1df80b7d836c2bcf1bf.jpg'
  var arg='&link='+url1+'&name='+say+'&picture='+img_url+'&caption='+text+'&description='+url1+'&redirect_uri=http://www.sharingdais.com/close_window';
 url=url+arg;
 window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=900');return false;
}
function facebook3(url){
  var text=$("#commentlink3").val();
  var say=$("#sayfb3").val();
  var url1=$("#urllink3").val();
  //var img_url=$("#image_fb").val(); 
  var img_url= 'http://sharingdais.com/main/assets/slider4-b4a8f7498084f1df80b7d836c2bcf1bf.jpg'
  var arg='&link='+url1+'&name='+say+'&picture='+img_url+'&caption='+text+'&description='+url1+'&redirect_uri=http://www.sharingdais.com/close_window';
 url=url+arg;
 window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=900');return false;
}
function facebook4(url){
  var text=$("#commentlink4").val();
  var say=$("#sayfb4").val();
  var url1=$("#urllink4").val();
  //var img_url=$("#image_fb").val(); 
  var img_url= 'http://sharingdais.com/main/assets/slider4-b4a8f7498084f1df80b7d836c2bcf1bf.jpg'
  var arg='&link='+url1+'&name='+say+'&picture='+img_url+'&caption='+text+'&description='+url1+'&redirect_uri=http://www.sharingdais.com/close_window';
 url=url+arg;
 window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=900');return false;
}
function facebook5(url){
  var text=$("#commentlink5").val();
  var say=$("#sayfb5").val();
  var url1=$("#urllink5").val();
  //var img_url=$("#image_fb").val(); 
  var img_url= 'http://sharingdais.com/main/assets/slider4-b4a8f7498084f1df80b7d836c2bcf1bf.jpg'
  var arg='&link='+url1+'&name='+say+'&picture='+img_url+'&caption='+text+'&description='+url1+'&redirect_uri=http://www.sharingdais.com/close_window';
 url=url+arg;
 window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=900');return false;
}
function twitter1(url){
    var text=$("#commentlink1").val(); 
    var say=$("#saytw1").val();
    //var url1=$("#urllink").val(); 
    var url1='http://sharingdais.com'
    var arg="?url="+url1+'&via='+say+'&text='+text;
    url=url+arg;
    window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;
}
function twitter2(url){
    var text=$("#commentlink2").val(); 
    var say=$("#saytw2").val();
    //var url1=$("#urllink").val(); 
    var url1='http://sharingdais.com'
    var arg="?url="+url1+'&via='+say+'&text='+text;
    url=url+arg;
    window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;
}
function twitter3(url){
    var text=$("#commentlink3").val(); 
    var say=$("#saytw3").val();
    //var url1=$("#urllink").val(); 
    var url1='http://sharingdais.com'
    var arg="?url="+url1+'&via='+say+'&text='+text;
    url=url+arg;
    window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;
}
function twitter4(url){
    var text=$("#commentlink4").val(); 
    var say=$("#saytw4").val();
    //var url1=$("#urllink").val(); 
    var url1='http://sharingdais.com'
    var arg="?url="+url1+'&via='+say+'&text='+text;
    url=url+arg;
    window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;
}
function twitter5(url){
    var text=$("#commentlink5").val(); 
    var say=$("#saytw5").val();
    //var url1=$("#urllink").val(); 
    var url1='http://sharingdais.com'
    var arg="?url="+url1+'&via='+say+'&text='+text;
    url=url+arg;
    window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;
}
</script>