<div class="display">
  <h3 class="prf_title">Rate Your Friends</h3>
  <div class="table-responsive src_res_desktop">
    <table class="table table-hover">
      <thead class="heading">
        <tr>
          <th>#</th>
          <th>Category</th>
          <th>You Shared or Served</th>
          <th>Name </th>
          <th>Locality</th>
          <th>Phone Oo</th>
          <th>Email Id</th>
          <th>Rate</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>1</td>
            <td>yoyo</td>
            <td>yo yo</td>
            <td>yoyo</td>
            <td>yoyo</td>
            <td>yoyo</td>
            <td>yoyo</td>
            <td>
              <a hre="javascript:void(0)" id="star1"><img src="/assets/reviews/2str.png"></a>
              <a hre="javascript:void(0)" id="star2"><img src="/assets/reviews/1str.png"></a>
              <a hre="javascript:void(0)" id="star3"><img src="/assets/reviews/1str.png"></a>
              <a hre="javascript:void(0)" id="star4"><img src="/assets/reviews/1str.png"></a>
              <a hre="javascript:void(0)" id="star5"><img src="/assets/reviews/1str.png"></a>
            </td>
            <td>Destroy</td>
          </tr>
      </tbody>  
    </table>
  </div>

  <div class="srch_res_mob">
      <div class="res_data">
        <div class="data_row">
          <div class="data_title">Category</div>
          <div class="data_col">yo yo</div>
        </div>
        <div class="data_row">
          <div class="data_title">You Shared or Served</div>
          <div class="data_col">yo yo</div>
        </div>
        <div class="data_row">
          <div class="data_title">Name</div>
          <div class="data_col">yo yo</div>
        </div>
        <div class="data_row">
          <div class="data_title">Locality</div>
          <div class="data_col">yo yo</div>
        </div>
        <div class="data_row">
          <div class="data_title">Phone No</div>
          <div class="data_col">yo yo</div>
        </div>
        <div class="data_row">
          <div class="data_title">Email id</div>
          <div class="data_col">yo yo</div>
        </div>
        <div class="data_row">
          <div class="data_title">Rate</div>
          <div class="data_col">yo yo</div>
        </div>
        <div class="data_row">
          <div class="data_title"></div>
            <div class="data_col">Destroy</div>
        </div>
      </div>
  </div>
</div>
<script type="text/javascript">
  $("#star1").click(function(){
    alert("coming soon !!")
  })
  $("#star2").click(function(){
    alert("coming soon !!")
  })
  $("#star3").click(function(){
    alert("coming soon !!")
  })
  $("#star4").click(function(){
    alert("coming soon !!")
  })
  $("#star5").click(function(){
    alert("coming soon !!")
  })
</script>