<!--<style type="text/css">
  @media screen and (min-width:1280px) {.custom_width{ width:50%; left: 25%;}.cust_btn{float: right;}}
</style>
<%#= javascript_include_tag :search %>
<%# if !params[:search].blank? %>
  <script>
    $(document).ready(function(){
  city_value = <%#= params[:search][:city_id] %>
     document.getElementById('city_id').value = city_value
    });
  </script>
<%# end %>-->


<div class="item">
  <%=  image_tag "peer_service1.jpg", :alt => "..." %>

  

  






</div>