<div class="item">
  <%=  image_tag "slider1.jpg", :alt => "..." %>
  <div class="carousel-caption">
    <div class="search-blk">
      <p class="head">Car Pooling</p>
      <div class="check col-xs-12 col-md-12">
        <form action="#">
          <label for="">Rider</label>
          <input type="radio" name="food" id=""
                 class="car" checked="checked"
                 data-car="I'm looking for a ride"/>
          <label for="">Owner</label>
          <input type="radio" name="food" id=""
                 class="car"
                 data-car="I would like to share my car"/>
        </form>
      </div>
      <div class="search row">
        <form action="#">
          <div class="col-xs-12 col-md-3 ">
            <div class="left col-xs-12 ">
              <label for="" class="car-chg" >I'm looking for a ride </label>
            </div>
            <div class="left col-xs-12 ">
              <input type="text" class="form-control car-chg" name="" id="" placeholder="I'm looking for a ride"/>
            </div>
          </div>
          <div class="col-xs-12 col-md-2 ">
            <div class="left col-xs-12 ">
              <label for="">From</label>
            </div>
            <div class="left col-xs-12 ">
              <input type="text" class="form-control" name="" id="" placeholder="From"/>
            </div>
          </div>
          <div class="col-xs-12 col-md-2 ">
            <div class="left col-xs-12 ">
              <label for="">To</label>
            </div>
            <div class="left col-xs-12">
              <input type="text" class="form-control" name="" id="" placeholder="To"/>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 ">
            <div class="left col-xs-12 ">
              <label for="">At</label>
            </div>
            <div class="left col-xs-12 ">
              <input class="form-control" type="text" name="" id="" placeholder="At"/>
            </div>
          </div>
          <div class="col-xs-12 col-md-2 ">
            <div class="left col-xs-12 ">
              <label for="">On</label>
            </div>
            <div class="left col-xs-12 ">
              <input class="form-control" type="text" name="" id="" placeholder="On"/>
            </div>
          </div>
          <div class="cboth"></div>
          <div class="cboth"></div>
          <div class="row">
            <div class="btns">
              
              <input type="submit" value="Search" class="btn" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>