  <style type="text/css">
  .how_heading1{ text-align:center; color:#000; font-size:22px; font-weight:bold; margin:10px 10px;
   
   font-family: Arial, Helvetica, sans-serif;
  }
  .hr{
    clear: both;
    color: #000;  
    background-color: #000;
      height: 1px;
  border-width: 0; 

  }
  .p1 {
    max-height: 230px;
    max-width:250px;
    
    overflow: hidden;
}
  </style>
 <div class="content">
<h1 class="how_heading">People are speaking about us..</h1>
  <div class="resize_how_diag"> 
 <div class="desktop_diag"> 
        <div class="row">
                  <div class="col-xs-6 col-sm-3">             
                  <img class="top" src="/assets/testmonial/Anshuman.jpeg" width="200" height="150">
                 <div align="" style="margin:1px 40px 5px 5px;">
                 <p align="justify" class="">"I really like the idea of Peer-to-Peer Sharing. My interest is cooking and I have shared few meals which I like cooking most. I have started getting some repeat orders from my existing customers. My experience so far is good and the team is very much approachable. Cheers!"  </p>  
                        <br> <br>
                 <p><strong >Anshuman</strong></p>
                  <p> Delhi</p> 
                  <hr class="hr">              
                 </div>  
                  </div>
                 <div class="col-xs-6 col-sm-3">
                 <div align="" style="margin:1px 40px 5px 5px;">
                  <img class="top" src="/assets/testmonial/Abhinav.jpeg" width="200" height="150">
                 
                 <p align="justify" class="" >"First I shared my books and made some contacts. Later I got few requests from my contacts to take maths tution. This is something new and good for people like me who has extra time on weekends. I wish them good luck!"</i></p>
                  <br><br><br><br>
                 <p><strong>Abhinav</strong></p>
                  <p> Gurgaon</p>
                  <hr class="hr">
                 </div>
                 </div>
                 
                 <div class="col-xs-6 col-sm-3">                  
                   <img class="top" src="/assets/testmonial/Kavindra.jpeg" width="200" height="150">
                   <div align="" style="margin:1px 40px 5px 5px;">
                  <p align="justify" class="" ><!--<span class="fa fa-tint"> </span>-->
                    "The concept of Sharing will definitely help the society because at one side this is empowering people by giving them an extra source of income and on the other side this is giving a cost effective solution to people looking for goods and services. Happy to be part of their journey." </p>    
                 
                <br><br>
                 <p><strong>Kavindra</strong></p>
                  <p> New Delhi</p>
                  <hr class="hr">
                 </div>
                 </div>
                 
                 <div class="col-xs-6 col-sm-3">                 
                 <img class="top" src="/assets/testmonial/Amritansh.jpg" width="200" height="150">
                 <div align="" style="margin:1px 40px 5px 5px;">
                 <p align="justify" class="">"Being a North Indian, I rarely find authentic home-cooked food. Thanks to Sharingdais for connecting me to right providers near my locality. An amazing concept guys." </p>
                  <br><br><br><br><br><br>
                 <p><strong>Amritansh</strong></p>
                  <p align=""> Bangalore</p>
                  <hr class="hr">
                 </div>
                 </div>
                
      </div>
    
</div> 
</div>   

<!--#######end of desktop view ########-->
<div class="mob_diag">
 <div class="srch_res_mob">
  <div class="res_data">
  
<table>
  <tr>
    <td>
    <div class="data_col">
  <img class="top" src="/assets/testmonial/Anshuman.jpeg" width="110" height="80">    
    <p center="justify" style="margin:3px 3px 0px 3px;">"I really like the idea of Peer-to-Peer Sharing. My interest is cooking and I have shared few meals which I like cooking most. I have started getting some repeat orders from my existing customers. My experience so far is good and the team is very much approachable. Cheers!" </p>
      <p style="margin:0px 0px 0px 0px"><strong>Anshuman</strong>
      <br>Delhi</p>      
    </div>
    <!--<hr style="clear: both;color: #000;  background-color: #000;  height: 1px;
  border-width: 0;">-->
  </td>
  <td>
    <div class="data_col">
     <img class="top" src="/assets/testmonial/Abhinav.jpeg" width="110" height="80">    
    <p center="justify" style="margin:3px 3px 0px 3px;">"First I shared my books and made some contacts. Later I got few requests from my contacts to take maths tution. This is something new and good for people like me who has extra time on weekends. I wish them good luck!"</p><br><br><br>
      <p style="margin:px 0px 0px 0px"><strong>Abhinav</strong>
      <br>Gurgaon</p>      
    </div>
    <!--<hr style="clear: both;color: #000;  background-color: #000;  height: 1px;
  border-width: 0;">-->
    </td>    
</tr>
</table>
<hr style="clear: both;color: #000;  background-color: #000;  height: 1px;
  border-width: 0;"><br>
<table>
<tr>
  <td>
  <div class="data_col">
  <img class="top" src="/assets/testmonial/Kavindra.jpeg" width="110" height="80">    
    <p center="justify" style="margin:3px 5px 0px 3px;">"The concept of Sharing will definitely help the society because at one side this is empowering people by giving them an extra source of income and on the other side this is giving a cost effective solution to people looking for goods and services. Happy to be part of their journey." </p>
      <p style="margin:0px 0px 0px 0px"><strong>Kavindra</strong>
      <br> New Delhi</p>      
    </div>
    <!--<hr style="clear: both;color: #000;  background-color: #000;  height: 1px;
  border-width: 0;">-->
    </td>
  <td>
    <div class="data_col">
     <img class="top" src="/assets/testmonial/Amritansh.jpg" width="110" height="80">    
    <p align="justify" style="margin:3px 8px 0px 3px;">"Being a North Indian, I rarely find authentic home-cooked food. Thanks to Sharingdais for connecting me to right providers near my locality. An amazing concept guys." </p>
    <br><br><br>
      <p style="margin:0px 0px 0px 0px"><strong>Amritansh</strong>
      <br>Bangalore</p>      
    </div>
    <!--<hr style="clear: both;color: #000;  background-color: #000;  height: 1px;
  border-width: 0;">-->
  </td>
  </tr>
</table>
<hr style="clear: both;color: #000;  background-color: #000;  height: 1px;
  border-width: 0;">
</div>
</div>

</div> 
<!--end of mobile view--> 

</div>