<div class="banner">
  <div id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">
      <div class="carousel-inner">
      	<div class="item active"><%= image_tag "Picture1_SD.jpg", :alt => "..." %></div>
        <div class="item"><%= image_tag "Picture4_SD.jpg", :alt => "..." %></div>
      </div>
      <%= render 'search_form_food_sharing' %>
    </div>
    <div class="cboth"></div>
  </div>
</div>