<style type="text/css">
.image:hover {
-webkit-transform:scale(1.1); transform:scale(1.1);
}
.image {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}

#cf 
  {
    position:;
    height:140px;
    width:180px;
    margin:;
  }
#cf img 
{
  position:absolute;
  left:;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
/* Slider css */
.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
          font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
          color: #ffffff;
          text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
</style>


<div class="content">
  <h1 class="how_heading">What is Hot inside?</h1>
  <!--<div calss="container_responsive">-->
  <div class="resize_how_diag">
     <div class="desktop_diag">
      <table>
        <tr>
          <td>
            <div class="bix_9">
            <div class="image">
              
             <a href="/khadi_chawal" target="_blank"> <img class="top" src="/assets/food_image/kadi-chawal.jpg" width="230" height="200"></a>
            </div>
            <p>
        <a href="/khadi_chawal"  target="_blank"> Home Style Kadhi-Chawal</a>
<script type="text/javascript">
  $(".bix_9").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_9':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
          </div>
            <p><strong>City:</strong> Patel Nagar- Delhi</p> 
          </td>
          <td>
            <div class="bix_10" >
            <div class="image">
              
             <a href="/stuffed_parantha" target="_blank"> <img class="top" src="/assets/food_image/aluparatha.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/stuffed_parantha" target="_blank"> Stuffed Parantha</a>
<script type="text/javascript">
  $(".bix_10").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_10':"1"}),success: function (data) {}
    });
  });
</script>            
            </p>
          </div>
            <p><strong>City:</strong> Ghaziabad</p> 
          </td>
          <td>
            <div class="bix_11" >
            <div class="image">            
             <a href="/veg_thali" target="_blank"> <img class="top" src="/assets/food_image/thali.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/veg_thali" target="_blank"> Veg Thali</a>
            </p>
<script type="text/javascript">
  $(".bix_11").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_11':"1"}),success: function (data) {}
    });
  });
</script>
            </div>
            <p><strong>City:</strong> Bangalore</p> 
          </td>
          <td>
            <div class="bix_12">
            <div class="image">
              
              <a href="/veg_biryani" target="_blank"><img class="top" src="/assets/food_image/thali2.jpg" width="230" height="200"></a>
            </div>
            <p>
              <a href="/veg_biryani"  target="_blank"> Veg Biryani</a>
<script type="text/javascript">
  $(".bix_12").click(function () {
    $.ajax({ type: 'POST',url: '/save_count',data: ({'ip_add':"<%= request.env['REMOTE_ADDR'] %>",'box_12':"1"}),success: function (data) {}
    });
  });
</script>
            </p>
          </div>
            <p><strong>City:</strong> Ghaziabad</p>
          </td>
          
        </tr>
      </table>
    </div>
    
  </div>
  <!-- -----------------------Mobile view------------ -->
  <div class="mob_diag">
    <div class="srch_res_mob">
      <div class="res_data">
        <div class="data_row">
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/food_image/aluparatha.jpg" width="180" height="140">
          </div>
            <p>
              <a href="/stuffed_parantha" data-toggle="" target="_blank"> Stuffed Parantha</a>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </div>
          <div class="data_col">            
            <div class="image">
            <img class="top" src="/assets/food_image/kadi-chawal.jpg" width="180" height="140">
          </div>
            <p>
              <a href="/khadi_chawal" data-toggle="" target="_blank"> Home Style Kadhi-Chawal</a>
            </p>
            <p><strong>City:</strong> Patel Nagar- Delhi</p> 
          </div>
        </div>
        <div class="data_row">
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/food_image/thali2.jpg"width="180" height="140">
          </div>
            <p>
              <a a href="/veg_biryani" data-toggle="" target="_blank"> Veg Biryani</a>
            </p>
            <p><strong>City:</strong> Ghaziabad</p> 
          </div>
          <div class="data_col">
            <div class="image">
            <img class="bottom" src="/assets/food_image/thali.jpg" width="180" height="140">
          </div>
            <p>
              <a href="/veg_thali" data-toggle="" target="_blank"> Veg Thali</a>
            </p>
            <p><strong>City:</strong>Bangalore</p> 
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- ---------------------------------mobile view end------------------------------ -->
</div>