<!-- ########################## like ##################################### -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1571186586438646&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- ########################## fb-like ##################################### -->
<!-- ########################## twitter follow ##################################### -->


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- ########################## twitter follow end. ##################################### -->
<style type="text/css">
.fb-like {
    width: 150px !important; /*width of just the button*/
    overflow: visible; /*so there is no cut off*/
    vertical-align: top; /*bc all other like buttons align top*/
}
</style>
<div class="footer"> 
<div class="row">
  <div class="col-xs-6 col-md-4">
    <div style="float: left; width: 20%;">&nbsp;</div>
      <div style="float: left; text-align: left; width: 25%;">
       <ul class="copy" style="font-size: 14px;margin:73px 0px 0px 0px">
        <li>
          <a href="/aboutus" style="color:#9B9B9B">About Us</a>
        </li><br>             
        <li>
          <a href="/ourteam" style="color:#9B9B9B">Our Team</a>
        </li><br>
        <li>
          <a href="http://blog.sharingdais.com/" target="_blank" style="color:#9B9B9B">Blogs</a>
        </li><br>
        <li>
          <a href="/benefits" style="color:#9B9B9B">Benefits</a>
       </li><br> 
       </ul>
     </div>
     <div style="float: right; text-align: left; width: 55%;">
       <ul class="copy" style="font-size: 14px;margin:73px 0px 0px 0px">          
        <li>
         <a href="/saftey_guide_food" style="color:#9B9B9B">Safety Tips-Food Sharing</a>
        </li><br>
        <li>
         <a href="/safety_guide_book" style="color:#9B9B9B">Safety Tips-Book Sharing</a>
        </li><br>
        <li>
         <a href="/safety_guide_skill" style="color:#9B9B9B">Safety Tips-Skill Sharing</a>
        </li><br>
        <li>
         <a href="/legal_terms"style="color:#9B9B9B" >Legal</a>
        </li>
       </ul>
     </div>
 </div> 
  <div class="col-xs-6 col-md-4">
    <div align="">      
      <img src="/assets/newlogo.jpg/" style="width:40%; height:50px; -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;" >    
          <div class="copy">&nbsp;</div>
          <div class="copy" style="font-size: 14px;">
             Locality based search engine for Peer to Peer Sharing
          </div>
          
       <div class="copy">Mail us: support@sharingdais.com
       </div>
       <div class="copy">Phone no: +91-7840088216
       </div>
       <div class="copy">Copyrights <%= Time.now.year %> &copy; All Rights Reserved .Sharingdais
       </div>
   </div>
 </div>
   <div class="col-xs-6 col-md-4">
    <div style="text-align:left; margin:73px 45px 0px">
      <div class="copy" style="font-size: 14px;">
        <span>Let's Connect</span>
      </div>    
      <!--<a class="fb-like" data-href="https://www.facebook.com/Sharingdais/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></a>-->
      <div data-share="false" data-show-faces="true" data-action="like" data-layout="standard" data-colorscheme="dark" data-width="250" data-href="https://www.facebook.com/sharingdais" class="fb-like fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=544617682225362&amp;color_scheme=dark&amp;href=https%3A%2F%2Fwww.facebook.com%2Fsharingdais&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;width=250">
        <span style="vertical-align: bottom; width: 250px; height: 20px;"></span>
      </div> 
    <div class="copy" style="font-size: 14px;">
      <span>For live updates</span>
    </div>
       <a href="https://twitter.com/Sharingdais" class="twitter-follow-button" data-width="" data-size="medium" data-show-count="false">Follow@sharingdais
       </a>  
    <div class="social">
      <ul>
        <!--<li>
          <a href="https://www.facebook.com/pages/Sharingdais/545524498867902?fref=nf" target="_blank"><span class="fa fa-facebook"></span></a>
        </li>
        <li>
          <a href="https://twitter.com/Sharingdais" target="_blank"><span class="fa fa-twitter"></span></a>
        </li>-->
        <li>
          <a href="https://plus.google.com/u/0/111504913326462842732/posts?cfem=1" target="_blank"><span class="fa fa-google-plus"></span></a>
        </li>
      </ul>
    </div>
   </div>      
  </div>
</div><br><br><br> 
  <%= render :partial => "layouts/trending_locations_bar" %>
  <%= render :partial =>  "layouts/trending_locations_list" %>
  <%= render :partial =>  "layouts/book_trending_locations_list" %>
</div>
<div>