<div class="footer">
  <div class="resize bottom-spacing">
    <div class="social">
      <ul>
        <li>
          <a href="https://www.facebook.com/pages/Sharingdais/545524498867902?fref=nf" target="_blank"><span class="fa fa-facebook"></span></a>
        </li>
        <li>
          <a href="https://twitter.com/Sharingdais" target="_blank"><span class="fa fa-twitter"></span></a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/111504913326462842732/posts?cfem=1" target="_blank"><span class="fa fa-google-plus"></span></a>
        </li>
      </ul>
    </div>
    <div class="foot-nav">
      <ul>
        <li>
          <a href="/aboutus">About Us</a>
        </li>
        <li>
          <a href="/legal_terms">Legal</a>
        </li>
        <li>
          <a href="http://blog.sharingdais.com/" target="_blank">Blogs</a>
        </li>
        <li>
          <a href="/ourteam">Our Team</a>
        </li>
        <li>
          <a href="/hygiene_factor">Do's & Don'ts</a>
        </li>
        <li>
          <a href="/benefits">Benefits</a>
        </li>
      </ul>
    </div>
    <div class="copy">Contact us: support@sharingdais.com
    </div>
    <div class="copy">Phone no: +917840088216
    </div>
    <div class="copy">Copyrights <%= Time.now.year %> &copy; All Rights Reserved .SharingDais
    </div>
  </div>
  <%= render :partial => "layouts/trending_locations_bar" %>
  <%= render :partial =>  "layouts/trending_locations_list" %>
  <%= render :partial =>  "layouts/book_trending_locations_list" %>
</div>