<div id="sticky_element" class="trending-locations-bar">
  <div class="container">
	  <div class="footer_sticky_bar">      
      <button type="button" id="open_model" class="btn btn-warning">Trending Locality</button>
      &nbsp;
	  </div>
  </div>
</div>
<%= render :partial =>  "layouts/trending_location_chenged" %>

